/* styles.css */

/* Variables CSS */
:root {
    --pokeTrainerTop: 0px;
    --pokeTrainerLeft: 0px;
    --pokeGifTop: 0px;
    --pokeGifLeft: 0px;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Mulish, sans-serif;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

/* Header */
header {
    width: 100%;
    height: 20%;
    background: #F44949;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
header img {
    height: 64px;
    max-width: 100%;
}
nav {
    display: flex;
    gap: 20px;
}
nav a {
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}

/* Main */
main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    flex-grow: 1;
}

/* Pokemon Description */
section:nth-child(2) {
    width: 100%;
    max-width: 476px;
    background: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
}
h2 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 10px;
}
p, pre {
    font-size: 18px;
}

button {
    background-color: #F44949;
    color: white;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5%;
}
button:hover {
    background-color: #d73838;
}

/* Footer */
footer {
    min-height: 1em;
    text-align: center;
    padding: 20px;
    background: #F44949;
    color: white;
}

/* Image and Video Containers */
#pokeSprite {
    max-width: 100%;
    height: auto;
}

/* Estilo básico para las secciones */
#sectionVideo {
    flex: 3;
    padding: 20px;
}

#sectionDescription {
    flex: 1;
    padding: 20px;
    max-height: 70%;
    width: 100%;
    max-width: 476px;
    box-sizing: border-box;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #F44949 #D9D9D9;
}

/* Scroll para Chrome, Safari y Edge */
#sectionDescription::-webkit-scrollbar {
    width: 8px;
}

#sectionDescription::-webkit-scrollbar-thumb {
    background-color: #F44949;
    border-radius: 10px;
}

#sectionDescription::-webkit-scrollbar-thumb:hover {
    background-color: #d73838;
}

#sectionDescription::-webkit-scrollbar-track {
    background-color: #D9D9D9;
    border-radius: 10px;
}

#pokemonDescription {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#PDescription {
    font-size: 0.8em;
    margin-bottom: 5%;
}

/* Pokemon Thumbnails */
#pokeBallContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}
#pokeBallContainer img {
    width: 100%;
    max-width: 126px;
    border-radius: 10px;
}

#gifOverlay,
#pokeTrainer {
    position: absolute;
    z-index: 10;
}

#botonera {
    display: grid;
    grid-template-columns: auto auto;
    margin: 1%;
}

/* Video selector */
#routeSelector {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#routeSelector select {
    background-color: #F44949;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

#routeSelector select:hover {
    background-color: #d73838;
}

#gifOverlay {
    width: 10%;
    height: 20%;
    display: block;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
}

#pokeTrainer {
    width: 30%;
    height: 35%;
    display: block;
    top: 60%;
    left: 15%;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#videoContainer {
    position: relative;
    width: 100%;
    height: 65%;
}

#myVideo {
    width: 100%;
    height: 100%;
}

.pokeType {
    width: 50%;
    height: 20%;
}

#pokeTrainer {
    display: none;
    z-index: 10;
}

/*Imagen de la pokeball*/
.pokeball {
    width: 5%;
    height: 5%;
    display: none;
    position: absolute;
    top: 60%;
    left: 15%;
    width: 50px;
    height: 50px;
    transition: none;
    z-index: 5;
}

/*Clase animación lanzar pokeball*/
.pokeball.launch {
    display: block;
    animation: launch 1s forwards;
}

/*Clase Gif chiquito*/
.intoPokeball {
    animation: intoPokeball 1s forwards;
}

/* Clase para la animación de balanceo */
.pokeball.shake {
    animation: shake 1s ease-in-out 3;
    animation-fill-mode: forwards;
}

/* Radio buttons style */
.radio-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #F44949;
    border-radius: 8px;
    background-color: #D9D9D9;
    max-width: 200px;
    margin: auto;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8em;
    font-weight: 600;
    color: black;
}

.radio-option input[type="radio"] {
    display: none;
}

.radio-option label {
    padding: 5px 10px;
    border: 1px solid #F44949;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.radio-option label:hover {
    background-color: #F44949;
    color: white;
}

.radio-option input[type="radio"]:checked + label {
    background-color: #F44949;
    color: white;
}

@keyframes launch {
    from {
        top: 60%;
        left: 15%;
    }
    50% {
        transform: rotate(720deg);
    }
    to {
        top: 40%;
        left: 70%;
    }
}

@keyframes shake {
    from {
        top: 40%;
        left: 70%;
    }
    to {
        top: 40%;
        left: 70%;
    }
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    75% {
        transform: rotate(-10deg);
    }
}

@keyframes intoPokeball {
    to {
        scale: 0.1 0.1;
        display: none;
    }
}

/* Responsive Styles */
@media (max-width: 1200px) {
    header img {
        height: 50px;
    }

    nav a {
        font-size: 18px;
    }

    #routeSelector select {
        width: 180px;
    }

    #pokeTrainer {
        width: 25%;
        height: 30%;
    }

    #videoContainer {
        height: 50%;
    }

    #sectionVideo {
        flex: 2;
    }

    #sectionDescription {
        max-width: 400px;
    }

    #pokeBallContainer {
        grid-template-columns: repeat(5, 1fr);
    }

    .container {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        gap: 15px;
    }

    #routeSelector {
        width: 100%;
    }

    #pokeTrainer {
        width: 50%;
        height: 45%;
    }

    #sectionVideo {
        flex: 1;
    }

    #pokeBallContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    .container {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 480px) {
    header img {
        height: 40px;
    }

    nav a {
        font-size: 16px;
    }

    #pokeTrainer {
        width: 60%;
        height: 50%;
    }

    #routeSelector select {
        width: 100%;
        padding: 10px;
    }

    #pokeBallContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    #sectionDescription {
        max-width: 90%;
    }

    .container {
        flex-direction: column;
    }

    footer p {
        font-size: 14px;
    }
}

/**************************/
/* Estilos para el botón de hamburguesa */
/* Estilos para el botón de hamburguesa */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Estilos del menú para pantallas grandes */
nav {
    display: flex;
    gap: 20px;
}

/* Cuando la pantalla es pequeña, ocultamos el menú y mostramos el botón de hamburguesa */
@media (max-width: 768px) {
    nav {
        display: none; /* Ocultamos el menú en pantallas pequeñas */
        position: absolute;
        top: 80px; /* Ajuste la posición vertical para que esté por debajo del header */
        left: 0;
        background-color: #F44949;
        width: 100%;
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }

    nav a {
        font-size: 18px;
        color: white;
        text-decoration: none;
        padding: 10px;
    }

    nav a:hover {
        background-color: #d73838;
    }

    /* Mostramos el icono de hamburguesa */
    .menu-toggle {
        display: block; /* Mostramos el icono de hamburguesa */
    }

    /* Estilos para el logo */
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
    }

    header img {
        height: 40px;
    }

    /* Cuando el menú se despliega */
    nav.show {
        display: flex;
    }
}

